# Descriptive Statistics:
Descriptive Statistics means summarizing the data at hand through certain numbers like mean, median etc. so as to make the understanding of the data easier. It does not involve any generalization or inference beyond what is available. This means that the descriptive statistics are just the representation of the data available and not based on any theory of probability.
Commonly used measures include-
1. Measures of central tendency
2. Measures of Dispersion (or variability)

In [4]:
#Summarizing the data
import pandas as pd
df = pd.read_csv('GamesSales.csv')
df.head(5)

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [5]:
df.tail(5)

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.0,0.0,0.0,0.0,0.0
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.0,0.0,0.0,0.0,0.0
1031,The Mummy Demastered,NaN,Action,NaN,0.0,0.0,0.0,0.0,0.0
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.0,0.0,0.0,0.0,0.0
1033,Battle Chef Brigade,NaN,Action,NaN,0.0,0.0,0.0,0.0,0.0

In [7]:
df.describe(include='all')

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
count,1034,825.000000,1034,825,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000
unique,1031,NaN,17,152,NaN,NaN,NaN,NaN,NaN
top,War Thunder,NaN,Action,Namco Bandai Games,NaN,NaN,NaN,NaN,NaN
freq,2,NaN,258,56,NaN,NaN,NaN,NaN,NaN
mean,NaN,2015.966061,NaN,NaN,0.204613,0.248714,0.033636,0.089014,0.576054
std,NaN,1.298360,NaN,NaN,0.563471,0.785491,0.108344,0.249410,1.583534
min,NaN,2013.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,2015.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,2016.000000,NaN,NaN,0.020000,0.000000,0.000000,0.010000,0.060000
75%,NaN,2017.000000,NaN,NaN,0.120000,0.130000,0.030000,0.050000,0.357500
max,NaN,2020.000000,NaN,NaN,6.180000,9.710000,2.170000,3.020000,19.390000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           1034 non-null   object
 1   Year           825 non-null    float64
 2   Genre          1034 non-null   object
 3   Publisher      825 non-null    object
 4   North America  1034 non-null   float64
 5   Europe         1034 non-null   float64
 6   Japan          1034 non-null   float64
 7   Rest of World  1034 non-null   float64
 8   Global         1034 non-null   float64
dtypes: float64(6), object(3)
memory usage: 72.8+ KB

Measures of Central Tendency: Mean, median, mode
Mean- Ratio of sum of all observations to the number of observations
Median- Point which divides the entire data into two equal halves
Mode- Number which has the maximum frequency in entire data set

In [12]:
print("Mean of all columns: \n", df.mean()) # find mean of all columns
print("Mean of all rows: \n", df.mean(axis=1))

Mean of all columns:
 Year             2015.966061
North America       0.204613
Europe              0.248714
Japan               0.033636
Rest of World       0.089014
Global              0.576054
dtype: float64
Mean of all rows:
 0       342.130000
1       340.861667
2       340.980000
3       340.633333
4       340.098333
           ...
1029      0.000000
1030    336.166667
1031      0.000000
1032      0.000000
1033      0.000000
Length: 1034, dtype: float64

In [15]:
print("Median of all columns:\n", df.median())
print("Median of North America\n", df['North America'].median())
print("Mode of all columns:\n", df.mode())
print("Mode of North America:\n", df['North America'].mode())

Median of all columns:
 Year             2016.00
North America       0.02
Europe              0.00
Japan               0.00
Rest of World       0.01
Global              0.06
dtype: float64
Median of North America
 0.02
Mode of all columns:
           Game    Year   Genre           Publisher  North America  Europe  \
0     Apotheon  2017.0  Action  Namco Bandai Games            0.0     0.0
1    Biomutant     NaN     NaN                 NaN            NaN     NaN
2  War Thunder     NaN     NaN                 NaN            NaN     NaN

   Japan  Rest of World  Global
0    0.0            0.0     0.0
1    NaN            NaN     NaN
2    NaN            NaN     NaN
Mode of North America:
 0    0.0
dtype: float64

Measures of Variability:
Absolute Deviation from Mean- average absolute distance of each point in the set from mean
Variance- indicates how far are data points spread out from the mean
Standard Deviation- square root of variance
Range- Difference between maximum and minimum value in the dataset
Quartiles- Points that divide data set into four equal parts, at 25%, 50% and 75%
Skewness- Measure of symmetry

In [26]:
world = df['Rest of World'] # stores column Rest of World in a pandas series

print("Mean absolute deviation:\n", world.mad())
print("Variance:\n", world.var())
print("Standard deviation:\n", world.std())
print("Quantiles\n", world.quantile(q=[0.25,0.5,0.75]))
print("Minimum:\n", world.min())
print("Maxmimum:\n", world.max())
print("Range:\n", world.max()-world.min())

Mean absolute deviation:
 0.12310480416328706
Variance:
 0.06220541511175626
Standard deviation:
 0.24941013434052003
Quantiles
 0.25    0.00
0.50    0.01
0.75    0.05
Name: Rest of World, dtype: float64
Minimum:
 0.0
Maxmimum:
 3.02
Range:
 3.02

In [29]:
print(df.skew())
print(df.skew(axis=1))
print(world.skew())

Year              0.026381
North America     5.641812
Europe            6.529292
Japan            11.174907
Rest of World     5.726620
Global            5.711236
dtype: float64
0       2.449136
1       2.449283
2       2.449310
3       2.449325
4       2.449315
          ...
1029    0.000000
1030    2.449490
1031    0.000000
1032    0.000000
1033    0.000000
Length: 1034, dtype: float64
5.726619524609345

Random is a module present in the Numpy library which contains functions which are used for generating random numbers.

# Random Numbers:
rand() function creates an array of the given shape and populates it with random samples from a uniform distribution over [0, 1).

In [31]:
import numpy as np
import random
print(np.random.rand()) #returns a random number between 0 and 1
print(np.random.rand(4)) #creates a 1D array of 4 rows filled with numbers between 0 and 1
print(np.random.rand(4,3)) #creates a 2D array of 4 rows and 3 columns filled with numbers between 0 and 1

0.6686623469676309
[0.81754284 0.00296215 0.61392073 0.294438  ]
[[0.10347078 0.55117122 0.07191937]
 [0.88802504 0.52498628 0.53861523]
 [0.2635198  0.15214696 0.22453843]
 [0.97615886 0.25864786 0.5858911 ]]

randn()- return a sample (or samples) from the “standard normal” distribution.

In [34]:
print(np.random.randn(4))
print(np.random.randn(4,2))

[ 1.45061557  0.87384046 -0.39866625 -2.49442254]
[[-0.75786587  1.59470124]
 [-0.220254    1.72775708]
 [-0.49692995  0.58662546]
 [-0.54924868  0.40225035]]

randint()- Return random integers from low (inclusive) to high (exclusive).

In [36]:
print(np.random.randint(1,8))
print(np.random.randint(1,8,size=5))

1
[7 6 4 1 3]

choice()- Generates a random sample from a given 1-D array

In [42]:
print(np.random.choice(world))

0.03

Data Distribution is a list of all possible values, and how often each value occurs. Such lists are important when working with statistics and data science. The random module offer methods that returns randomly generated data distributions.

Random Distribution
A random distribution is a set of random numbers that follow a certain probability density function.

In [47]:
x = np.random.choice([3, 5, 7, 9], p=[0.1, 0.3, 0.6, 0.0], size=(100))
#creates an array containing 100 values, where each value has to be 3,5,7, or 9
print(x)
x = np.random.choice([3, 5, 7, 9], p=[0.1, 0.3, 0.6, 0.0], size=(6,6))
#creates an array of size 6x6 containing values, where each value has to be 3,5,7, or 9
print(x)

[3 5 7 7 5 7 3 5 7 7 5 7 7 7 7 7 3 7 3 5 7 7 7 7 3 7 5 5 7 7 7 5 7 7 5 5 7
 7 5 7 7 7 5 3 5 7 7 7 5 7 5 5 5 7 7 5 7 7 5 7 7 7 3 7 7 5 7 7 7 7 7 3 7 7
 5 7 7 5 5 7 5 7 5 7 3 5 5 7 7 7 5 7 5 5 7 7 5 5 7 5]
[[7 7 7 7 7 7]
 [7 7 5 7 3 5]
 [7 7 5 7 7 7]
 [7 7 3 7 5 7]
 [5 7 7 7 7 3]
 [5 5 7 7 7 7]]

SciPy is a scientific computation library that uses NumPy underneath. It stands for Scientific Python.
It provides more utility functions for optimization, stats and signal processing. It has optimized and added functions that are frequently used in Numpy and data science.

In [50]:
# pip install scipy to install scipy
import scipy
from scipy import constants
print(constants.pi)

3.141592653589793

random()-Generate a sparse matrix of the given shape and density with randomly distributed values.

In [58]:
from scipy import random
from scipy import stats
print(scipy.random.random())

0.7622744083656937

rv_continuous()- A generic continuous random variable class meant for subclassing.

In [71]:
from  scipy.stats import norm, uniform, binom
print(norm.rvs(loc=2,scale=2,size=(5,3))) #A normal continuous random variable

[[ 2.60335195  4.5589192   2.99866291]
 [ 1.5888421  -0.26982325  1.57838717]
 [ 4.43078432  4.29549902  4.13130721]
 [ 1.89059122 -0.8332625   2.25830464]
 [ 2.14326058  3.70360553  3.41864933]]

In [73]:
print(uniform.rvs(loc=2,scale=2,size=(5,3))) #A uniform continuous random variable
print(binom.rvs(100,0.6,size=10)) # a binomial discrete random variable

[[3.26340817 3.21246343 2.8684701 ]
 [2.32076524 2.86696546 2.53791833]
 [2.75561457 3.75921575 3.73197459]
 [2.31012053 2.73158284 3.53471436]
 [2.88692488 3.08386726 3.93674651]]
[58 61 49 64 50 56 56 55 53 63]